<table>
    <thead>
        <th>id</th>
        <th>title</th>
        <th>year</th>
        <th>rating</th>
    </thead>
    <tbody>
        <tr>
            <td><%= @movie.id %></td>
            <td><%= @movie.title %></td>
            <td><%= @movie.year %></td>
            <td><%= @movie.rating %></td>
        </tr>
    </tbody>
</table>

<a href="/movies">Movies Index</a>